.example-container{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.form-container{
  width: 400 px; 
  margin: 0 px auto; 
  margin-top: 200 px;
}

.form-field{
  display: block
}