<mat-card *ngIf="addressDetails" class="address-card">
    <mat-card-header>
        <mat-card-title>{{addressDetails.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>{{addressDetails.address}}</mat-card-content>
    <app-map (coordinate)="getLngLat($event)" [coordinateMarker]="[51.367918, 35.712706]"></app-map>
    <mat-card-actions class="btn">
        <button mat-fab color="primary" aria-label="Example icon button with a delete edit"
            [routerLink]="['edit' , addressDetails.id]">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            (click)="deleteAddress(addressDetails.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>


</mat-card>