@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    overflow: hidden;
}
#app {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    z-index: 20;
}