<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Address Book</h1>
        <span class="example-spacer"></span>

        <div>
            <button mat-flat-button class="example-icon favorite-icon btn-toolbar" *ngIf="!isloggedIn()"
                routerLink="login"> Login</button>
            <button mat-flat-button class="example-icon favorite-icon btn-toolbar" *ngIf="!isloggedIn()"
                routerLink="register">Register</button>
        </div>

        <button mat-flat-button mat-button [matMenuTriggerFor]="menu" *ngIf="isloggedIn()">{{name}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>{{email}}</button>
            <button mat-menu-item>{{name}}</button>
            <button mat-menu-item *ngIf="isloggedIn()" (click)="logOut()">
                LogOut</button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="nav.routing" *ngFor="let nav of navItem">{{nav.name}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>