<mat-card class="add-address-card">
    <div class="example-container">
        <div class="form-container">
            <form [formGroup]="addAddress" (submit)="submit()">

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Work" formControlName="name">
                    <mat-error *ngIf="addAddress.controls.name.touched && addAddress.controls.name.invalid">
                        <span *ngIf="addAddress.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex.No. 101, North Kargar St., Tehran
                    " formControlName="address">
                    <mat-error *ngIf="addAddress.controls.address.touched && addAddress.controls.address.invalid">
                        <span *ngIf="addAddress.controls.address.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!addAddress.valid">AddAddress</button>
            </form>
        </div>
    </div>
</mat-card>