.add-address-card{
    width: 70%;
    margin:10px auto;
}
.example-container{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  .form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px;
  }
  
  .form-field{
    display: block
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 10px;
  }