.example-container{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    background-image: linear-gradient();
  }
  
  .form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px;
  }
  
  .form-field{
    display: block
  }

  .link{
      a{
        text-decoration: none;
       }
    margin: 15px;
  }