<mat-card class="add-address-card" *ngIf="detailsBeforeEdit">
    <div class="example-container">
        <div class="form-container">
            <form [formGroup]="editAddress" (submit)="submit()">

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Work" formControlName="name">
                    <mat-error *ngIf="editAddress.controls.name.touched && editAddress.controls.name.invalid">
                        <span *ngIf="editAddress.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                    <mat-error *ngIf="editAddress.controls.address.touched && editAddress.controls.address.invalid">
                        <span *ngIf="editAddress.controls.address.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">Edit Address</button>
            </form>
        </div>
    </div>
</mat-card>